/* only css code (no need of style tag) 
    https://www.figma.com/resource-library/color-combinations/
    Combination 34: Quite clear
    /* Restaurant */
*/

html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    font-size: 20px;
}

body 
{
    background-color: #f2f2f2;
}
#site-header 
{
    background-color: #4d1717;
    /* change layout using flex */
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo 
{
    height: 100px;
    width: 100px;
}

#menu 
{
    /* change layout using flex (from vertical to horizontal) */
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}
.menu-link 
{
    color:white;
    font-size: x-large;
    text-transform: uppercase;
}
.contact-no 
{
    font-size: xx-large;
}
#banner 
{
    height:600px;
}
/* banner has child image then only style will apply  */
#banner>img 
{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
#banner-text 
{
    position: absolute;
    top: 300px;
    width:100%;
    text-align: center;
}
#banner-text>h1 
{
    font-size:84px;
    color:white;
}
#banner-text>p 
{
    font-size:42px;
    color:yellow;
}
#whyus 
{
    display: flex;
    gap: 20px;
    justify-content: center;
}

#whyus>article 
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding:10px;
    width:20%;
    border: 3px solid brown;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#whyus>article>img 
{
    height:128px;
}
#aboutus>header 
{
    text-align: center;
    font-size: 48px;
    color:brown;
}
#aboutus>article>div 
{
    display: flex;
}
#aboutus>article>div>p 
{
    width:40%;
}
#aboutus>article>div>div 
{
    width:60%;
}
#aboutus>article>div>div 
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#aboutus>article>div>div>img 
{
    width:calc(50% - 20px);

}
